:root {
    --red-color: #D22121;
}



body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Montserrat;
    background-image: url(/Assets/Image/Background_Login.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
    width: 100%;
    animation: transitionIn 2s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapper {
    max-width: 1306px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* navbar Section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1306px;
    top: 45px;
    position: fixed;
    z-index: 100;
    left: 60px;
}

nav .logo a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    gap: 6px;

}

.svg-icon {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 32px;
    padding-left: 10%;
    height: 32px;
    overflow: hidden;
}

.nav-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1306px;
    position: fixed;
    z-index: 100;
    top: 10px;
    right: 60px;
}

.nav-2 ul {
    display: flex;
    align-items: center;
    gap: 33.91px;
    list-style: none;
    padding-left: 89%;
}

.nav-2 ul li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #353535;
    opacity: 0.8;
    text-decoration: none;
    position: relative;
}

.nav-2 ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #353535;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

.nav-2 ul li a:hover:after {
    transform: translateY(0);
    opacity: 1;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 33.91px;
    list-style: none;
    padding-right: 19%;
}

nav ul li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #353535;
    opacity: 0.8;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #353535;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

nav ul li a:hover:after {
    transform: translateY(0);
    opacity: 1;
}

/* End Navbar */

/* hero section */

.hero-section {
    display: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.right {
    position: absolute;
    left: 600px;
    top: 200px;
    padding-right: 20px;
    background-color: #000000;
}

.right img {
    position: absolute;
    width: 496px;
    height: 365px;
    left: 230px;
    top: 100px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120vh;
    padding-top: 10px;
    padding-left: 100px;
}

.container {
    width: 550px;
    display: flex;
    flex-direction: column;
    padding: 100px 15px 0 15px;
}

h2 {
    justify-content: center;
    display: flex;
    padding: 0 12px 0 20px;
    font-family: 'Montserrat';
    font-size: 30px;
    color: #716565;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input {
    height: 70px;
    width: 500px;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Montserrat';
    border-radius: 10px;
    padding: 0 0 0 42px;
    color: #492929;
    background: rgba(173, 92, 7, 0.1);
    border: 1px solid rgba(173, 92, 7, 0.1);
}

i {
    position: relative;
    top: -43px;
    left: 14px;
    width: 19px;
    color: #6a6060;
}

::-webkit-input-placeholder {
    font-family: 'Montserrat';
    font-size: 18px;
}

.submit {
    width: 200px;
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat';
    height: 50px;
    margin-top: 30px;
    margin-left: 345px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(196, 52, 52, 0.49);
    cursor: pointer;
    transition: .3s;
}

.submit:hover {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.btn-logo {
    position: absolute;
    height: 64px;
    width: 64px;
    left: 1200px;
    top: 850px;
    border-radius: 32px;
    background: #4FCE5D;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}

.btn-logo a img {
    color: #fff;
    font-size: 24px;
    margin-left: -6px;
    margin-top: -1px;
    cursor: pointer;
    transition: .5s ease;
}

.btn-logo a:hover img {
    transform: scale(1.2);
}

.pseudo {
    position: absolute;
    top: 4px;
    left: 50px;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: #FF0000;
}